bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/ViaEventAssociation/FileContentIndex/1e5f8966-4fd3-45e5-bc21-c277a938af8d.vsidx
.vs/ViaEventAssociation/FileContentIndex/47a6b991-415a-4d69-a109-ac396c84444f.vsidx
.vs/ViaEventAssociation/FileContentIndex/877f7a99-c990-43b3-b01d-d84055f471fa.vsidx
.vs/ViaEventAssociation/FileContentIndex/ba5ce5e8-4bc6-4847-8c78-4d08ed58355d.vsidx
.vs/ViaEventAssociation/FileContentIndex/ca74821b-8d11-4280-8f51-db2a0c38e690.vsidx
